.l-card,
.list-group.l-card {
    border-color: rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.5);
    margin: 1rem;
    h5 {
        text-align: center;
        position: relative;
        margin-bottom: 20px;
        &:after {
            content: '';
            position: absolute;
            bottom: -10px;
            background-color: rgba(0, 0, 0, .1);
            height: 1px;
            left: -1.25rem;
            right: -1.25rem;
        }
    }
}
