$week-size: 30px;
$week-spacing: 20px;

.timeline {
  padding-top: 20px;
  position: relative;
  @include clearfix;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  overflow: hidden;
}

.weeks-wrapper {
  position: relative;
  @include clearfix;
  transition: transform $speed $ease;

  @for $i from 1 through 100 {

    &[data-count="#{$i}"] {
      width: (50px * $i);
    }

    &[data-scroll="#{$i}"] {
      transform: translateX(- 50px * $i);
    }
  }
}

.slide-left, .slide-right {
  position: absolute;
  top: 20px;
  height: 50px;
  width: 30px;
  cursor: pointer;
  z-index: 3;
  display: none;

  &:before, &:after {
    content: '';
    background-color: $clr-gray-dark;
    width: 3px;
    height: 20px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }
}

.needs-scrolling {
  .slide-left, .slide-right {
    display: block;
  }
}

.slide-left {
  left: 0;
  background: linear-gradient(to left, rgba(white, 0),  rgba(white, 1));

  &:before {
    transform: translateY(-50%) translateX(12px) translateY(-6px) rotate(45deg);
  }

  &:after {
    transform: translateY(-50%) translateX(12px) translateY(6px) rotate(-45deg);
  }
}

.slide-right {
  right: 0;
  background: linear-gradient(to right, rgba(white, 0), rgba(white, 1));

  &:before {
    transform: translateY(-50%) translateX(12px) translateY(-6px) rotate(-45deg);
  }

  &:after {
    transform: translateY(-50%) translateX(12px) translateY(6px) rotate(45deg);
  }
}

.week-wrapper {
  padding: 5px;
  float: left;
  background-color: $clr-gray-dark;
  border-radius: 50%;
  margin: 5px;
  position: relative;
  transition: all $speed $ease;
  text-decoration: none !important;

  &:after {
    content: '';
    transition: all $speed $ease;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid $clr-gray-middle;
    display: block;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-50%, 10px);
    opacity: 0;
  }

  &[data-selected="true"]:after {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  &[data-selected="true"][data-status="active"]:after {
    border-top: 8px solid $clr-blue;
  }
}

.week-number {
  background-color: $clr-gray-light;
  border-radius: 50%;
  width: $week-size;
  height: $week-size;
  line-height: $week-size;
  text-align: center;
  position: relative;
  text-decoration: none !important;
  font-size: 12px;

  &:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
    content: '';
    height: 10px;
    width: $week-spacing;
    z-index: -1;
  }
}

.week-wrapper[data-number="1"] .week-number:before {
  display: none;
}

.week-wrapper[data-status="none"] {
  background-color: $clr-gray-light;

  .week-number {
    color: $clr-gray-middle;

    &:before {
      background-color: $clr-gray-light;
    }
  }
}

.week-wrapper[data-status="success"] {
  background-color: $clr-green;

  .week-number:before {
    background-color: $clr-green;
  }
}

.week-wrapper[data-status="failed"] {
  background-color: $clr-red;

  .week-number:before {
    background-color: $clr-red;
  }
}

.week-wrapper[data-selected="true"] {

}

.week-wrapper[data-status="today"] {
  background-color: $clr-blue;
  margin: 0;
  padding: 10px;
  .week-number:before {
    background-color: $clr-blue;
  }
}

.list-group-item {
  &.failed {
    //color: lighten($clr-red, 20);

  }

  &.success {
    background-color: lighten($clr-green, 0);

  }

  &.today {
    position: relative;

    &:before {
      content: '';
      transition: all $speed $ease;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 10px solid $clr-gray-dark;
      display: block;
      position: absolute;
      top: 55px;
      left: 8px;
      transform: translate(-50%, 10px);
      z-index: 4;
    }
  }
}