@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*
* Colors
**/
$clr-gold: #FBB936; // Goud
$clr-green: #40BA4C; // Licht Groen
$clr-green-dark: #00674C; // Donker Groen
$clr-gray-dark: #231F20; // Donker Grijs
$clr-gray-light: #eeeeec;
$clr-white: #fff;
$clr-blue: #729fcf;
$clr-gray-middle: #ccc;
$clr-red: red;

/*
* Paddings
**/
$pddng-small: 10px;
$pddng-medium: 18px;
$pddng-big: 25px;


/*
* Margin
**/
$mrgn-small: 10px;
$mrgn-medium: 18px;
$mrgn-big: 25px;

/*
* Border-size
**/
$border-small: 2px;
$border-medium: 4px;
$border-big: 4px;

/*
* breakpoints
**/
$S:     480px;
$M:     768px;
$L:     1100px;

$speed: .3s;
$ease: cubic-bezier(.61,.21,.54,.77);