/* Timeline colors */
$color-1: #383838; // Mine Shaft
$color-2: #7b9d6f; // Highland
$color-3: #ffffff; // White
$color-4: #f8f8f8; // Alabaster



/*
* Colors
**/
$clr-gold: #FBB936; // Goud
$clr-green: #40BA4C; // Licht Groen
$clr-green-dark: #00674C; // Donker Groen
$clr-gray-dark: #231F20; // Donker Grijs
$clr-white: #fff;


/*
* Paddings
**/
$pddng-small: 10px;
$pddng-medium: 18px;
$pddng-big: 25px;


/*
* Margin
**/
$mrgn-small: 10px;
$mrgn-medium: 18px;
$mrgn-big: 25px;

/*
* Border-size
**/
$border-small: 2px;
$border-medium: 4px;
$border-big: 4px;

/*
* breakpoints
**/
$S:     480px;
$M:     768px;
$L:     1100px;