nav {
    padding: $pddng-small 0;

    .flex-menu {
        display: flex;

        .img-logo {
            margin-right: $pddng-big;

            img {
                width: 320px;
            }
        }

        .fill {
            flex: 0.9;
        }

        ul.nav-menu {
            margin: 0;
            max-width: 500px;
            min-width: 300px;
            flex: 2;
            list-style: none;
            padding: 0;
            display: flex;
            color: $clr-green-dark;
            font-weight: bold;
            li {
                display: flex;
                position: relative;
                flex: 1;
                justify-content: center;
                align-items: center;
                text-align: center;
                transition: all .2s ease-in;

                &:before {
                    content: "";
                    position: absolute;
                    left: 10%;
                    right: 10%;
                    background-color: $clr-green-dark;
                    transition: all .2s ease-in;
                }
                &:hover:before {
                    transition: all .2s ease-in;
                    bottom: -$pddng-small;
                    height: 4px;
                }
            }
        }
        .nav-offerte {
            margin-left: 10px;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}

header {
    background: url('../images/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    .flex-center-left {
        height: 500px;
        .txt-holder {
            background-color: $clr-white;
            max-width: 350px;
            padding: $pddng-big;
            h2 {
                margin: 0;
                text-align: center;
            }
            p {
                font-size: 16px;
                text-align: center;
            }
        }
    }
}

.l-lead-request {
    background-color: $clr-green-dark;
    color: $clr-white;
    display: flex;
    padding: $pddng-medium;
    margin-bottom: $mrgn-big;

    .icon-holder {
        display: flex;
        width: 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        i {
            font-size: 33px;
        }
    }
    .txt-holder {
        display: inline;
        flex: 1;
        position: relative;
        padding: 0 $pddng-medium;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            width: 2px;
            background-color: $clr-gold;
            top: 10%;
            bottom: 10%;
        }
        * {
            margin: $mrgn-small 0;
        }
    }
    .button-holder {
        display: flex;
        justify-content: end;
        align-items: center;
    }
}

div.l-projects {
    background: url('../images/projecten.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: $clr-green;
    .flex-center-left {
        height: 500px;
        .txt-holder {
            max-width: 450px;
            padding: $pddng-big;
            h2 {
                color: $clr-gray-dark;
                margin: 0;
                text-align: center;
            }
            p {
                color: $clr-gray-dark;
                font-size: 16px;
                text-align: center;
            }
        }
    }
}

.flex-container {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    .flex-item {
        flex: 1;
        text-align: center;
        margin: 0px 10px;
    }
}

.flex-center-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    margin-top: $mrgn-big;
    margin-bottom: $mrgn-big;
}

img {
    width: 100%;
}

footer {
    background-color: $clr-green-dark;
    color: $clr-white;
    padding: $pddng-big 0;

    ul {
        list-style: none;
        padding: 0;
    }
}

hr {
    border-color: $clr-gold;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}