// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; }
  }
}
  // @include MQ(L) {
  //   margin: 6em auto;

  //   &::before {
  //     /* never visible - this is used in jQuery to check the current MQ */
  //     content: 'desktop';
  //   }
  // }


.l-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeec;
  z-index: 2;
}